/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: url("assets/background-image-2.jpeg") no-repeat center center fixed;
    background-size: cover;
}
header {
    font-family: lato;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.5s ease, color 0.5s ease;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
}
nav ul li a:hover {
    background:#fff;
    color: #000;
    border-radius: 4px;

}
main {
    padding: 4rem 2rem 2rem; /* Add top padding to account for fixed header */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 800px;
    margin: 5rem auto 2rem; 
}
h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
footer {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
    color: #333;
    text-decoration: none;
   text-align: center;
}
a:hover {
    text-decoration: underline;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}
#scrollToTopBtn:hover {
    background-color: #444;
}